*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}




html,body{
    /* height:100vh; */
    height:auto;
    /* width:100vw; */
    width:auto;
}
.nav{
    display:flex;
    justify-content:space-around;
    background-color: black;
    color:white;
    position:absolute;
top:0px;
width:100%;
  
}
.nav>.anchor>a:hover{
    color:black;
    background-color: orange;
    border-radius: 5px;
    justify-content:center;
    align-items:center;
   
}
.home>.text{
    color:rgb(96, 14, 237);
    position:absolute;
    /* top:35%; */
    padding:10%;
    height:40%;
    width:auto;
    object-fit :cover;
    place-content :start;
    place-items:start;
    gap:40px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    /* border:2px solid rgb(198, 234, 16); */
    /* transition:2s ease;
    transform:translateX(-90%,-90%); */
    z-index:#999;
}
.text>.text-1{
     /* border:2px solid blue; */
   
    font-size:30px;
}
.text>.text-2{
    font-size:20px;
    
    /* border:2px solid blue; */
}

.nav>.anchor>a{
    display:flex;
     justify-content:space-around;
    color:white;
    text-decoration: none;
     padding:30px;  
    
}
 .nav>.anchor{
    display:flex;
    justify-content: start;

}
.nav>.anchor>img{

    position:absolute;
}

.nav>span{
    color:white;
    font-size:32px;
    padding:20px
} 
.nav>.icon{
    display:none;
}
.home{
    /* height:100vh; */
    height:auto;
    /* width:100vw; */
    width:auto;
    border:2px solid red;
}
.home>img{
    height:100%;
    width:100%;
}



.about{
    /* height:120vh; */
    height:auto;
    /* width:100vw; */
    width:auto;
    padding:50px;
    background-color: lightblue;
    /* border:2px solid rgb(130, 18, 241); */
    display:grid;
    gap:10px;
    grid-template-areas:  
    'a b'
    
    ;

}
.about>.container-1{
    /* border:2px solid blue; */
    grid-area: a;
    padding:10px;
    line-height:45px;
    display:grid;
   align-content:center;
    /* height:110vh; */
    height:auto;
    grid-template-areas: 
    'c'
    'd'
    'e'
    ;
}
.about>.container-1>.item-1{
    grid-area: c;
    margin-bottom:auto;
    /* border:2px solid red; */
    
}
.about>.container-1>.item-1>h1{
    font-size: 42px;
}
.about>.container-1>.item-2{
    grid-area: d;
    /* border:2px solid red; */
    gap:15px;
    margin-bottom:65px;
    align-content:start;
    display:grid;
    grid-template-areas:  
    'd e f'
    ;
}
.about>.container-1>.item-2>.fitem{
    grid-area: d;
    border:2px solid rgb(33, 221, 29);

    padding:10px;
}
.about>.container-1>.item-2>.sitem{
    grid-area: e;
    border:2px solid rgb(14, 225, 35);
    padding:10px;
}
.about>.container-1>.item-2>.titem{
    grid-area: f;
    border:2px solid rgb(8, 227, 15);
    padding:10px;

}

.about>.container-1>.item-3{
    grid-area: e;
    /* border:2px solid rgb(140, 16, 234); */
    display:grid;
    transition: 0.5s ease;
    color:white;
    /* width:100%; */
    width:auto;
    align-content:start;
     text-align:center;
    padding:5px;
    gap:15px;
    grid-template-areas:  
    'e f g'
    ;

}
.about>.container-1>.item-3>.fitem:hover,.about>.container-1>.item-3>.sitem:hover,.about>.container-1>.item-3>.titem:hover{
    color:blue;
    padding:10px;
    line-height:45px;
    background-color: aliceblue;
  
}

.about>.container-1>.item-3>.fitem{
    grid-area: e;
    width:auto;
}

.about>.container-1>.item-3>.sitem{
    grid-area: f;
    /* border:2px solid rgb(54, 29, 215); */
    /* width:100%; */
    width:auto;
}
.about>.container-1>.item-3>.titem{
    grid-area: g;
    /* border:2px solid rgb(99, 36, 223); */
    line-height: 45px;
    /* width:100%; */
    width:auto;
}
.about>.container-1>.item-3>.titem>p>span{
    color:blue;
}
.about>.container-2{
    /* border:2px solid rgb(0, 255, 21); */
    grid-area: b;
    justify-items:center;
    align-items :center;
   
} 
.about>.container-2>img{
    border-radius: 40px;
}

.benifits{
    /* height:100vh; */
    height:auto;
    /* width:100vw; */
    width:auto;
    padding:10%;
    place-items:center;
    place-content:center;
    text-align:center;
    color:white;
   background-image:  linear-gradient(lightpink,lightblue);
    border:2px solid rgb(106, 236, 13);
    display:grid;
    gap:85px;
    grid-template-areas:  
    'a'
    'b'
    ;
}

.benifits>.container-1{
    grid-area:a;
    /* border:2px solid red; */
    line-height:50px;
    font-size:18px;
}
.benifits>.container-2{
    padding: 20px;
    grid-area:b;
    /* border:2px solid red; */
    place-items:center;
    place-content:center;
    text-align:center;
    gap:40px;
    display:grid;
    grid-template-areas:  
    'a'
    'b'
    ;
}

.benifits>.container-2>.benifits-1{
    grid-area:a;
    display:grid;
    line-height: 30px;
    gap:50px;
    place-items:center;
    place-content:center;
    text-align:center;
    grid-template-areas:  
    'a b c'
    'd e f'
    ;
}
.benifits>.container-2>.benifits-1>.item-1>img,.benifits>.container-2 .item-2>img,.benifits>.container-2 .item-3>img,.benifits>.container-2 .item-4>img,.benifits>.container-2 .item-5>img,.benifits>.container-2 .item-6>img{
    color:red;
    background-color: rgb(225, 223, 220);
    border:20px;
    grid-area:a;
    /* border:2px solid greenyellow; */
}

/* @keyframes rotate{
from{
    transform:translateY(-100%);
}
to{
    transform:rotate(360deg);
} */

.benifits>.container-2 .item-1{
    background-color: azure;
    color:black;
    border-radius:10px;
    padding:40px;
}
.benifits>.container-2 .item-2{
    grid-area:b;
    background-color: azure;
    color:black;
    border-radius:10px;
    padding:30px;
    /* border:2px solid greenyellow; */
}

.benifits>.container-2 .item-3{
    grid-area:c;
    background-color: azure;
    color:black;
    border-radius:10px;
    padding:30px;
    /* border:2px solid greenyellow; */
}
.benifits>.container-2 .item-4{
    grid-area:d;
    background-color: azure;
    color:black;
    border-radius:10px;
    padding:30px;
    /* border:2px solid greenyellow; */
}


.benifits>.container-2 .item-5{
    grid-area:e;
    background-color: azure;
    color:black;
    border-radius:10px;
    padding:10px;
    /* border:2px solid greenyellow; */
}
.benifits>.container-2 .item-6{
    grid-area:f;
    background-color: azure;
    color:black;
    border-radius:10px;
    padding:30px;
    /* border:2px solid greenyellow; */
}

.services{
    /* border:2px solid red; */
    height:auto;
    background-color: beige;
    text-align:center;
    line-height:30px;
    width:100vw;
    padding:20px;
    gap:20px;
    display:grid;
    grid-template-areas:  
    'a'
    'b'
    'c'
    'd'
    ;
}
.services .container-1{
/* border:2px solid blue; */
grid-area:a;
display:grid;
gap:10%;
grid-template-areas:  
'a b c'
;
}
.services .container-1 a:hover,.box-7  a:hover,.submit:hover{
font-size:20px;

}
.services .item-1{
    /* border:2px solid red; */
    grid-area:a;
    
   
}
.services .item-2{
    /* border:2px solid red; */
    grid-area:b;
   padding:30px;
}
/* .services .item-2 a{
color:red;
margin:90px;
} */
.services .item-3{
    /* border:2px solid red; */
    grid-area:c;
    border:10px;
}
.services a{
    text-decoration:none;
    background-color: blue;
    padding:10px;
    color:white;
    margin:20px;
    
}
.services>.container-2{
    /* border:2px solid rgb(137, 36, 90); */
    grid-area:b;
    padding:50px;
    text-align: start;
    display:grid;
    object-fit: cover;
    gap:30px;
    grid-template-areas:  
    'a'
    'b'
    'c'
    'd'
    ;
    }
    .services>.container-2>.box-1{
        grid-area: a;
        display:grid;
        grid-template-areas:  
        'a b'
        
        ;
        
    }
    .services>.container-2 h1{
color:rgb(217, 14, 14);

    }
    .services>.container-1 h1{
        color:rgb(232, 13, 13);
    }
    .services>.container-2 img{
        transition:0.5s ease;
    }
    .services>.container-2 img:hover{
    
        transform: rotate(360deg);
    }
    .services>.container-2>.box-1>.item-1{
/* border:2px solid red; */
padding:30px;
grid-area:a;
object-fit:cover;
    }
    .services>.container-2>.box-1>.item-2{
        /* border:2px solid rgb(36, 217, 16); */
        grid-area:b;
        padding:30px;
            }


    .services>.container-2>.box-2{
        grid-area: b;
        display:grid;
        grid-template-areas:  
        'b a'
        
        ;
        
    }
    .services>.container-2>.box-2>.item-1{
        /* border:2px solid red; */
        padding:30px;
        grid-area:a;
        object-fit:cover;
            }
            .services>.container-2>.box-2>.item-2{
                /* border:2px solid rgb(36, 217, 16); */
                padding:30px;
                grid-area:b;
                    }
    .services>.container-2>.box-3{
        grid-area: c;
        display:grid;
        object-fit:cover;
        grid-template-areas:  
        'a b'
        ;
    }
    .services>.container-2>.box-3>.item-1{
        /* border:2px solid red; */
        grid-area:a;
            }
            .services>.container-2>.box-3>.item-2{
                /* border:2px solid rgb(36, 217, 16); */
                padding:30px;
                grid-area:b;
                object-fit:cover;
                border-radius:50%;
                    }
    .services>.container-2>.box-3>.item-2>img{
        border-radius:50%;
    } 
    .services>.container-2>.box-1>.item-2>img{
        border-radius:50%;
    } 
    .services>.container-2>.box-2>.item-2>img{
        border-radius:50%;
    }                

.box-6{
    border:2px solid red;
    background-color: rgb(186, 190, 190);
    padding-left:50px;
    padding-right:50px;
    /* height:100vh; */
    height:auto;
    display:grid;
    gap:30px;
    place-items:center;
    place-content: center;
    grid-template-areas:  
    'a'
    'b'
    ;
}
.box-6>.container-1{
    border:2px solid blue;
    padding:10px;
    line-height:30px;
    grid-template-rows: a;
}
.box-6>.container-1>h2{
text-align: center;
}
.box-6>.container-2{
    border:2px solid rgb(201, 201, 207);
    padding:10px;
   gap:30px;
    grid-template-rows: b;
    display:grid;
    text-align: center;
    grid-template-areas:  
    'a e b f'
    'c g d h'
    ;
}
.box-6>.container-2 img{
    border-radius:50%;
}
.box-6>.container-2>.item-1{
   
    grid-area:a;
}

.box-6>.container-2>.item-2{
   
    grid-area:b;
}
.box-6>.container-2>.item-3{
   
    grid-area:c;
}
.box-6>.container-2>.item-4{
   
    grid-area:d;
}
.box-6>.container-2>.item-5{
   
    grid-area:e;
}
.box-6>.container-2>.item-6{
   
    grid-area:f;
}
.box-6>.container-2>.item-7{
   
    grid-area:g;
}
.box-6>.container-2>.item-8{
   
    grid-area:h;
}






    .box-7{
        /* border:2px solid red; */
        background-color: lightpink;
        color:white;
        font-size:13px;
       gap:20px;
       padding:30px;
        height:auto;
        /* width:100vw; */
        width:auto;
       place-items:center;
       place-content:center;
        display:grid;
        grid-template-areas:  
        'a'
        'b'
        'c'
        ;
    }
    .box-7>.container-1{
        /* border:2px solid blue; */
        text-align:center;
        line-height:30px;
        font-size: 15px;
        grid-area: a;
    
    }
    
    .box-7>.container-2{
        /* border:2px solid blue; */
        
        grid-area: b;
    
    }
   
    .box-7>.container-3{
        /* border:2px solid blue; */
        color:black;
        grid-area: c;
        display:grid;
        line-height: 25px;
        gap:30px;
        margin:30px;
        text-align:center;
        grid-template-areas:  
        'a b c'
        ;
    
    }
    .box-7>.container-3 p{
        font-size: 15px;
        padding:10px;
    }
    .box-7 a{
        text-decoration: none;
        border-radius:10px;
        background-color: blue;
        padding:10px;
        color:white;
        margin:10px;
        /* align-items:center; */
        place-items:center;
        place-content:center;
    }
   .box-7>.container-3:hover{

font-size:20px;
   }
    .box-7>.container-3>.item-1{
              /* border:2px solid yellow; */
              background-color: whitesmoke;
              grid-area:a;
    }
    .box-7>.container-3>.item-2{
        /* border:2px solid yellow; */
        background-color: whitesmoke;
        grid-area:b;
     }
    .box-7>.container-3>.item-3{
            /* border:2px solid yellow; */
            background-color: whitesmoke;
            grid-area:c;
    }  

    
    .box-8{
        /* border:2px solid red; */
        /* background-color: rgb(14, 206, 65); */
        padding:60px 90px 60px 90px;
        display:grid;
        /* height:100vh; */
        height:auto;
        /* width:100vw; */
        width:auto;
        place-items:center; 
        grid-template-areas:  
        'a'
        'b'
       
        ;
     }
     .box-8>.container-1{
     /* border:2px solid blue; */
     
     text-align:center;
     padding: 0px 150px 0px 150px;
     grid-area:'a'
     }
     .box-8>.container-1>h1{
        font-size:50px;
        line-height: 60px;
        
     }
     .box-8>.container-1>p{
        font-size:25px;
        line-height: 50px;
        
     }
     
     .box-8>.container-2{
         text-align:center;
         justify-content:center;
     /* border:2px solid blue; */
     font-size:25px;
     padding:30px;
     gap:30px;
     line-height:40px;
     grid-area:'b';
     display:grid;
     grid-template-areas:  
     'a b c'
     ;
      }
      .box-8>.container-2>.item-1{
         /* border:2px solid rgb(83, 222, 14); */
         grid-area: a;
         
      }
      .box-8>.container-2>.item-2{
         /* border:2px solid rgb(53, 225, 11); */
         grid-area: b;
      }
      .box-8>.container-2>.item-3{
         /* border:2px solid rgb(53, 225, 11); */
         grid-area: c;
      }
      .box-8>.container-2>a{
         /* background-color: blue; */
         color:white;
         padding:20px;
      }



      .contact{
        /* border:2px solid red; */
        /* height:100vh; */
        height:auto;
        background:linear-gradient(grey,orange);
        width:auto;
       place-items:center;
      place-content:center;
        display:grid;
        text-align:center;
        grid-template-areas:  
        'a'
        ;
    }
    .contact>.main-container{
        /* border:2px solid rgb(216, 107, 11); */
         padding:10px;
         gap:10px;
         width:50vw;
        place-content:center;
        grid-area:a;
        display:grid;
        grid-template-areas:  
        'a'
        'b'
        'c'
        ;
    }
    .contact>.main-container>.container-1{
        /* border:2px solid  blue; */
        grid-area:a;
        
    }
    .contact>.main-container>.container-1>h2{
        color:orange;
    }
    .contact>.main-container>.container-2{
        /* border:2px solid  rgb(230, 42, 18); */
      padding:30px;
      gap:30px;
        line-height:40px;
        grid-area:b;
        
    }
    .contact>.main-container>.container-2>.item>p{
line-height: 50px;
font-size: 18px;
    }
    .contact>.main-container>.container-2>.item>h4{
font-size: 30px;
line-height: 30px;
    }
    .contact>.main-container>.container-3{
        /* border:2px solid  blue; */
        place-content:start;
        padding:20px;
        gap:20px;
        grid-area:c;
       
    }

    .label{
        padding:10px;
        width:100%;
        color:black;
    }
    .submit{
        padding:10px;
        width:100%;
        background-color: blue;
    }
    .last{
        /* border:2px solid red; */
        background-color: black;
        color:white;
       gap:50px; 
      padding:10%;
        /* height:50vh; */
        height:auto;
        width:100vw;
        display:grid;
        align-content:center;
        grid-template-areas: 
                       'a'
                       'b';
       }
  .last>.container-1{
    /* border:2px solid blue; */
    gap:20px;
    font-size:12px;
    grid-area:a;
    display:grid;
grid-template-areas:  
'a b c d e'
;
  }  
  .last>.container-1>.item-1{
    grid-area:a;
   
  }
  .last>.container-1>.item-1>.icons>span>a{
    color:white;
  }
  .last>.container-1>.item-1>.icons>span>a:hover{
    color:blue;
  }
  .last>.container-1>.item-2{
    grid-area:b;
    /* border:2px solid  rgb(13, 217, 61); */
  } 
  .last>.container-1>.item-3{
    grid-area:c;
    /* border:2px solid  rgb(13, 217, 61); */
  } 
  .last>.container-1>.item-4{
    grid-area:d;
    /* border:2px solid  rgb(13, 217, 61); */
  } 
  .last>.container-1>.item-5{
    grid-area:e;
    /* border:2px solid  rgb(13, 217, 61); */
  } 
  .last>.container-2{
         /* border:2px solid rgb(7, 171, 89); */
         grid-area: b;
         justify-items:space-between;
         font-size:12px;
         display:grid;
         grid-template-areas:  
         'a b'
         ;
  }  
  .last>.container-2>.copy-rights{
grid-area:a;
/* border:2px solid rgb(198, 14, 14); */
  }
  .last>.container-2>.privacy-polocy{
    grid-area:b;
    /* border:2px solid blue; */
    display:grid;
    gap:10px;
    grid-template-areas:  
    'a b'
    ;
  }
  .last>.container-2>.privacy-polocy>.privacy{
grid-area:a;
/* border:2px solid yellow; */
  }
  .last>.container-2>.privacy-polocy>.terms{
    grid-area:b;
    /* border:2px solid yellow; */
  }    
  @media (min-width : 561px)  and (max-width : 900px){
    
    
    .nav>.anchor{
        display:none;
    }
    .nav>.icon{
        display:block;
    }
    .nav>.icon:hover{
        display:block;
        color:green;
    }
    .nav>.icon:hover{
        display:block;
        color:green;
    }
    .about{
        /* height:200vh; */

        height:auto;
        grid-template-areas:  
            'a'
            'b'
            ;
}

.benifits>.container-2>.benifits-1{
   grid-template-areas:  
   'a b c'
   'd e f'
   'g h i'
   ;
}
.services .container-1{
    grid-template-areas:  
    'a b'
    'c d'
    ;
}

.box-7{
    /* height:120vh; */
    height:auto;
}
.box-7>.container-2>p{
    line-height:35px;
    font-size:15px;
    text-align: start;
}  
.box-7>.container-3{
    display:grid;
    text-align: start;
    place-items: start;
    gap:10px;
    font-size:15px;
    grid-template-areas:  
    'a b'
    'c d'
    'e f'
    ;
} 
.box-7>.container-1>h1{
    font-size:45px;
    text-align: center;
}

.contact>.main-container>.container-2{
    font-size:25px;
    place-items: start; 
      line-height:20px;
      display:grid;
      grid-template-columns : repeat(2,1fr);
    ;
}
.contact>.main-container>.container-3{
    grid-template-areas:

    'a b'
    'c d';
}

.last>.container-1{
    /* grid-template-columns: repeat(3 ,1fr); */
   grid-template-areas:  
   'a b c'
   'd e f'
   ;
}

.contact>.main-container{
    width:100vw;
}
  }


@media (max-width : 560px){
    .nav{
        display:flex;
        color:red;
        flex-direction:column;
        align-items: center;
        width:25vw;
        padding:6px;
    }
    .nav>.anchor{
        display:flex;
        justify-content:space-around;
        flex-direction:column;
}
.nav>.anchor>a{
    padding:7px;
}
.home>.text:hover>.nav{
display:none;
}
.home>.text>.text-1>h1{
    font-size: 10px;
}
.about{
/* height:200vh; */
height:auto;
gap:2px;
padding-top:10px;
grid-template-areas:  
    'a'
    'b'
    ;
}
.about>.container-1>.item-3{
    grid-template-areas:  
    'e'
    'f'
    'g'
    ;
}
.about>.container-1{
    line-height:25px;

}
.about>.container-1>.item-1>h1{
    font-size: 22px;
}
.about>.container-1 p{
    font-size: 17px;
}
.benifits{
    place-content:start;
    gap:35px;
}
.benifits>.container-2>.benifits-1{
    gap:25px;
    font-size:10px;
    line-height: 30px;
    grid-template-areas:  
    'a b' 
    'c d'
    'e f'
    'g h'
}
.services .container-1{
    gap:10px;
    grid-template-areas:  
    'a'
    'b'
    'c'
    ;
}
.services .container-2{
gap:10px;
padding:20px;
}
.services>.container-2>.box-1, .services>.container-2>.box-2,  .services>.container-2>.box-3{
    grid-template-areas:  
        'a'
        'b'
        ; 
}
.box-7{
    gap:15px;
    /* height:160vh; */
    height:auto;
    
 }
 .box-7>.container-2>p{
     line-height:40px;
     font-size:15px;
     text-align: start;
     place-items: start;
 }
 .box-7>.container-3{
    line-height: 38px;
    font-size: 13px;
    text-align: start;
    place-items: start;
    grid-template-areas:  
    'a'
    'b' 
    'c'
    'd'
    'e'
    ;
 }
 .box-7>.container-1>h1{
    font-size:30px;
    text-align: center;
}
    .contact{
       /* height:120vh; */
        height:auto;
        place-content:start;
        place-items:center; 
        justify-items: center;
    }
    .contact>.main-container{
        gap:40px;
    }
    .contact>.main-container>.container-1>h1{
        font-size: 30px;
        line-height:100px;
    }
    .contac>.main-container>.container-1>p{
        font-size: 20px;
        text-align:center;
    }
    .contact>.main-container>.container-2{
        font-size:25px;
        place-items: start; 
          line-height:20px;
     grid-template-areas: 
        'a'
        'b'
        'c'
        ;
    }
    .contact>.main-container>.container-2>.item-3>.submit{
        font-size:20px;
    }
    .contact>.main-container>.container-3{
       display:flex;
       line-height:30px;
       flex-direction:column;
       text-align:start;
    }
    .label{
        font-size:15px;
        line-height:10px;
    } 
   
    .last>.container-2{
        gap:20px;
        grid-template-areas:  
         'a'
         'b'
         ; 
    }
    .last>.container-1{
        /* grid-template-columns: repeat(3 ,1fr); */
       grid-template-areas:  
       'a b c'
       'd e f'
       ;
    }
    .contact>.main-container{
        width:100vw;
    }
    
} 
@media (max-width:720px){
    .services>.container-2>.box-1, .services>.container-2>.box-2,  .services>.container-2>.box-3{
        grid-template-areas:  
            'a'
            'b'
            ; 
    }
}  
