*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}




html,body{
    height:100vh;
    width:100vw;
}


.box-3{
    height:100vh;
    width:100vw;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:30px;
    color:white;
    background-color: blue;
    display:grid;
    /* place-items:space-between;
    align-items:center; */
    gap:5px;
    grid-template-areas:  
    'a'
    'b'
    ;
}
.box-3>.container-1{
    grid-area: a;
    border:2px solid red;
    font-size:40px;
    align-items:center;
    justify-items:center;
    display:grid;
    
}
.box-3>.container-2{
    grid-area: b;
    border:2px solid green;
    padding:2px;
    display:grid;
    place-items:space-between;
    align-items:center;
    justify-items:center;
    grid-template-areas: 
    'a b c d'
    ;

}
.box-3>.container-2>.item-1{
    border:2px solid pink;
    grid-area: a;
    margin:5px;
    justify-items:center;
    line-height:90px;
    
}
.box-3>.container-2>.item-1>p{
    border-bottom:2px solid white;
}
.box-3>.container-2>.item-2>p{
    border-bottom:2px solid rgb(25, 19, 19);
}
.box-3>.container-2>.item-3>p{
    border-bottom:2px solid white;
}
.box-3>.container-2>.item-4>p{
    border-bottom:2px solid white;
}
.box-3>.container-2 p{
    
    font-size:45px;

}

.box-3>.container-2>.item-2{
    border:2px solid pink;
    grid-area: b;
    margin:5px;
    justify-items:center;
    line-height:90px;
}
.box-3>.container-2>.item-3{
    border:2px solid pink;
    grid-area: c;
    margin:5px;
    justify-items:center;
    line-height:90px;
   
   
}
.box-3>.container-2>.item-4{
    border:2px solid pink;
    grid-area: d;
    margin:5px;
    justify-items:center;
    line-height:90px;
    
}