*{
    padding:0;
    border:0;
    box-sizing: border-box;

}
.nav{
    display:flex;
    justify-content:space-around;
    background-color: black;
  
}

.nav>.anchor>a{
    display:flex;
    justify-content:space-around;
    color:white;
    text-decoration: none;
    padding:30px;
    
}
.nav>.anchor{
    display:flex;
    justify-content: center;
}
.nav>span{
    color:white;
    font-size:32px;
    padding:20px
}
.home{
    transition: 2s;
}
.container{
    height: 120vh;
    border:2px solid red;
    position:relative;
    display:flex;
    padding:80px;
}

.box-1{
    height:550px;
    width:40%;
    position:absolute;
    top:21%;
    left:43%;
    z-index:999;
    
    
}
.box-2{
    height:550px;
    width:55%;
    border:2px solid rgb(6, 121, 79);
    position:relative;
    left : 11%;
    border-radius:32px; 
    font-size:23px;
}
.box-1>img{
    height:100%;
    width:100%;
    border-radius:32px;
    transition: 2s;
}
.para{
    width:54%;
    /* border:2px solid red; */
    padding:20px;
    padding-left:35px;
    line-height:30px;

}
.para>h2{
    line-height:45px;
}
.para>p{
    padding-bottom:30px;
    
}
.para>a{
    padding:10px;
    background-color: blue;
    color:white;
    width:300px;
    text-decoration: none;
    border-radius:10x;
    border-radius: 10px;
    transition: 2s;
}