*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.box-6{
    border:2px solid red;
    height:100vh;
    display:grid;
   
    place-items:center;
    /* grid-template-areas:  
    'a'
    'b'
    ; */
}
.box-6>.container-1{
    border:2px solid blue;
    padding:10px;
    margin:80px;
    grid-template-rows: a;
}
.box-6>.container-1>h2{
text-align: center;
}
.box-6>.container-2{
    border:2px solid blue;
    padding:10px;
    margin:80px;
    grid-template-rows: b;
    display:grid;
    text-align: center;
    grid-template-areas:  
    'a b c d'
    ;
}
.box-6>.container-2>.item-1{

grid-area:a;
align-content:end;
}
.box-6>.container-2 .data{
    background-color: black;
    color:white;
}
/* .container-2>.item-1>.data{
    border:2px solid green;
  
} */

.box-6>.container-2>.item-2{
    grid-area:b;
    align-content:end;
    }
    /* .container-2>.item-2>.data{
        border:2px solid green;
    } */
    .box-6>.container-2>.item-3{
grid-area:c;
align-content:end;
}
/* .container-2>.item-3>.data{
    border:2px solid green;
} */
.box-6>.container-2>.item-4{
    grid-area:d;
    align-content:end;
   
    }
    /* .container-2>.item-4>.data{
        border:2px solid green;
    } */
       
